In [ ]:
import os
import PIL
from PIL import image
rootDir = "C:\photos"
fileCount = len([iq for iq in os.scandir(rootDir)])

for dirName ,subdirList , fileList in os.walk(rootDir):
    print(fileCount)
    print('Founddirectory: %s' % dirName)
    for fname in fileList:
        print('\t%s' % fname)

In [ ]:
def main():
    im = plt.imread("C:\Users\usama\Downloads\numpy images")
    print(type(im))
    plti(im)
    im = im[400:3800,:2000,:]
    plti(im)
    print(im.shape)
    
if __name__ == "__main__":
    main()

In [ ]:
import numpy as np 
im = cv.LoadImage("photos")
a = numpy.asarray(im)

In [ ]:
import cv2
im1 = cv2.imread("abc.tiff",mode='RGB')
print(type(im1))

# PANDAS chapter 5

In [3]:
#single dimension mein series
#multi dimension mein data frame
#data ka index ajata ha

import pandas as pd
obj = pd.Series([4,7,-5,3])
print(obj)

0    4
1    7
2   -5
3    3
dtype: int64

In [4]:
sales = pd.Series([100,200,10,400],index = ['jan','feb','mar','apr'])
print(sales)
print(sales.values)
print(sales.index)

jan    100
feb    200
mar     10
apr    400
dtype: int64
[100 200  10 400]
Index(['jan', 'feb', 'mar', 'apr'], dtype='object')

In [5]:
sales = pd.Series([100,200,10,400],index = ['jan','feb','mar','apr'])
print(sales)

jan    100
feb    200
mar     10
apr    400
dtype: int64

In [14]:
import pandas as pd
import calendar as cal
print(cal.month_name[1])
sw = pd.Series([20,30,20,25,30,40,0],index = ['mon','tue','wed','thurs','fri','sat','sun'])
print(sw)

January
mon      20
tue      30
wed      20
thurs    25
fri      30
sat      40
sun       0
dtype: int64

In [17]:
print(sw[ [3,5] ])
print(sw[ [ "tue","thurs"] ])

thurs    25
sat      40
dtype: int64
tue      30
thurs    25
dtype: int64

In [19]:
'tue' in sw

True

In [20]:
sdata = {"sindh":3500,"punjab":300,"kpk":200}
tax_by_state = pd.Series(sdata)
print(tax_by_state)
print(tax_by_state.index)

sindh     3500
punjab     300
kpk        200
dtype: int64
Index(['sindh', 'punjab', 'kpk'], dtype='object')

In [22]:
sdata = {"sindh":3500,"punjab":300,"kpk":200}
tax_by_state = pd.Series(sdata,index = ["punjab","sindh",'kpk','gb'])
print(tax_by_state)
print(pd.isnull(tax_by_state))

punjab     300.0
sindh     3500.0
kpk        200.0
gb           NaN
dtype: float64
punjab    False
sindh     False
kpk       False
gb         True
dtype: bool

In [26]:
sw = pd.Series([20000,30,20,25,30,40,0],
 index = ['mon','tue','wed','thr','fri','sat','sun'])
print(sw)
sw.index = ['m','t','w','th','fri','sa','su']
print(sw)

mon    20000
tue       30
wed       20
thr       25
fri       30
sat       40
sun        0
dtype: int64
m      20000
t         30
w         20
th        25
fri       30
sa        40
su         0
dtype: int64