In [2]:
print("PIAIC")

def greet_user():
    print("apna time ayga")
    
print("hello")

PIAIC
hello

In [3]:
greet_user()

apna time ayga

In [4]:
greet_user()

apna time ayga

In [7]:
def mult(a,b):
    c = a*b
    print(c)

In [8]:
mult(2,4)

8

In [10]:
mult(5,5)

25

In [17]:
def full_name(f_name , m_name , l_name):
    name = f_name + m_name + l_name
    print(name)

In [18]:
full_name("Muhammad" , 'Shahzad' , 'Ahsan')

MuhammadShahzadAhsan

In [14]:
def full_name(f_name , m_name , l_name):
    name = f_name +' '+ m_name +' ' + l_name
    print(name)

In [15]:
full_name("Muhammad" , 'Shahzad' , 'Ahsan')

Muhammad Shahzad Ahsan

In [21]:
def my_name():
    first_name = input("Enter your first name: ")
    middle_name = input("Enter your middle name: ")
    last_name = input("Enter your last name: ")
    my_full_name = first_name + ' ' + middle_name + ' '+last_name
    print("My name is " + my_full_name.title())
    

my_name()

Enter your first name: muhammad
Enter your middle name: shahzad
Enter your last name: ahsan
My name is Muhammad Shahzad Ahsan

In [28]:
def cal(a,b,operator):
    if operator == '+':
        c = a + b
        print(c)
    elif operator == '-':
        c = a - b
        print(c)
    elif operator == "*":
        c = a * b
        print(c)
    elif operator == '/':
        c = a/b
        print(c)
    else:
        print("Operator not defined")

In [23]:
cal(5,2,'-')

3

In [24]:
cal(9,2,'+')

11

In [25]:
cal(5,3,'/')

1.6666666666666667

In [26]:
cal(7,3,'*')

21

In [29]:
cal(3,3,'%')

Operator not defined

# KEYWORD ARGUMENT

In [30]:
cal(2,'+',5)

Operator not defined

In [31]:
cal(a=4,operator="+",b=5)

9

In [32]:
cal(operator="-",a=5,b=4)

1

# DEFAULT PARAMETER

In [39]:
def my_info(name , age = 21, gender = 'male'):
    print(f"My name is {name}.")
    print(f"My age is {age}.")
    print(f"My gender is {gender}.")
    
my_info('Shahzad')

My name is Shahzad.
My age is 21.
My gender is male.

In [44]:
def my_name_is(f_name ,l_name , m_name = ' '):
    if m_name:
        full_name= f_name + ' ' + m_name + ' '+ l_name
    else:
        full_name = f_name + ' ' + l_name
    return full_name

a = my_name_is('Muhammad' , 'Ahsan' , 'Shahzad')
print(a)

Muhammad Shahzad Ahsan

In [45]:
b = my_name_is('Shahzad' , 'Ahsan')
print(b)

Shahzad   Ahsan

In [46]:
def my_friends(names):
    for name in names:
        greet = "hello ," + name
        print(greet)
        
user = ['Ali' , 'Ahmed' , 'Ahsan', 'Hamza']
my_friends(user)

hello ,Ali
hello ,Ahmed
hello ,Ahsan
hello ,Hamza

In [47]:
def human(f_name , l_name , age ):
    build_human = {'First:' : f_name , 'Last_name:': l_name , 'age:' : age}
    for key , value in build_human.items():
        print(key , value)
        
human('Shahzad' , 'Ahsan' , 21)

First: Shahzad
Last_name: Ahsan
age: 21

In [49]:
def human(f_name , l_name , age , *others ):
    build_human = {'First:' : f_name , 'Last_name:': l_name , 'age:' : age}
    for key , value in build_human.items():
        print(key , value)
        print(others)
        
        
human('Shahzad' , 'Ahsan' , 21 , 'cef' , 'aaa' , 'bbb' , 'ccc')

First: Shahzad
('cef', 'aaa', 'bbb', 'ccc')
Last_name: Ahsan
('cef', 'aaa', 'bbb', 'ccc')
age: 21
('cef', 'aaa', 'bbb', 'ccc')

In [59]:
def human(f_name , l_name , age , **toopings ):
    build_human = {'First:' : f_name , 'Last_name:': l_name , 'age:' : age}
    for key , value in build_human.items():
        print(key , value)
    
        print(toopings)
        
        
human('Shahzad' , 'Ahsan' , 21 , cef ='aaa' , bbb ='ccc')

First: Shahzad
{'cef': 'aaa', 'bbb': 'ccc'}
Last_name: Ahsan
{'cef': 'aaa', 'bbb': 'ccc'}
age: 21
{'cef': 'aaa', 'bbb': 'ccc'}