# for loop

In [ ]:
for num in range(1, 10):
    print(num , end = ' ')

In [ ]:
for num in range (40,60):
    print(num , end = ' ')

In [ ]:
for num in range(10):
    print(num , end = ' ')

In [ ]:
tablenum = int(input('please input table number: '))

for num in range(1, 10):
     print(f'{tablenum} * {num} = {tablenum * num}')

In [ ]:
for num in range(1,25,2):
    print(num , end = ' ')

In [ ]:
students = ['ahmed' , 'haseeb' , 'saqib']
print(students)

In [ ]:
tablenum = int(input('please input table number: '))

for num in range(1, 10):
    if num % 2 == 0:
        continue
    else:    
     print(f'{tablenum} * {num} = {tablenum * num}')

 tablenum = int(input('please input table number: '))

for num in range(1, 10):
    if num % 2 == 0:
        break
    else:    
        print(f'{tablenum} * {num} = {tablenum * num}')

In [ ]:
best_friend = []
Friends = []
for num in range(10):
    name = input("enter your friend name: ")
    if name.startswith('a'):
        best_friend.append(name)
best_friend

# nested for loop

In [7]:
for a in [1,2,3]:
    for b in 'ali':
        print(a,b)

1 a
1 l
1 i
2 a
2 l
2 i
3 a
3 l
3 i

In [10]:
for a in [1,2,3]:
    for b in 'ali':
        print(a,b)

1 a
1 l
1 i
2 a
2 l
2 i
3 a
3 l
3 i

In [ ]:
for a in  [1,2,3,4,5]:
    
    for b in 'usama':
        print(b,a)

# list comprehension

In [14]:
a=[1,2,3,4,5,6,7,8,9]
squares=[]
for num in a: 
    squares.append(num**2)
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [18]:
a =[1,2,3,4,5,6,7]
squares = []
for num in a:
    squares.append(num**2)
squares

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
[ num**2 for num in range(1,10) if num>4]

In [ ]:
[ num**2 for num in range(1,10) if num>4]